@use "variables";

body {
  background-color: variables.$background-color;
  font: 100% variables.$basic-font;
  font-size: variables.$text-sm;
  overflow-x: hidden;
  overflow-y: auto;
}

input {
  width: 300px;
  border: 1px solid variables.$light-color;
  border-radius: variables.$m-lg;
  height: 30px;
  background-color: variables.$light-color;
  color: variables.$text-dark;
  padding-left: variables.$m-md;
  z-index: 11;

  @media screen and (max-width: variables.$small) {
    width: 200px;
  }

  &:focus {
    outline: 2px solid variables.$primary-color;
  }
}
