//colors
$background-color: #264653;
$primary-color: #2A9D8F;
$secondary-color: #E9C46A;
$tertiary-color: #F4A261;
$highlight-color: #E76F51;
$text-light: #DEE2E6;
$text-dark: #343A40;

//fonts
$basic-font: Helvetica, sans-serif;

//sizes
$m-sm: 4px;
$m-md: 8px;
$m-lg: 16px;
$text-sm: 12px;
$text-md: 16px;
$text-lg: 20px;
$text-xl: 24px;


