@import url("https://fonts.googleapis.com/css?family=Dosis");

//colors
$background-color: #264653;
$primary-color: #2a9d8f;
$light-color: #dee2e6;
$dark-color: #232629;
$text-light: $light-color;
$text-dark: $dark-color;

//fonts
$roboto-font: "Roboto", sans-serif;
$dosis-font: "Dosis", sans-serif;
$basic-font: $dosis-font;

//sizes
$m-xs: 4px;
$m-sm: 8px;
$m-md: 16px;
$m-lg: 32px;
$text-sm: 12px;
$text-md: 16px;
$text-lg: 20px;
$text-xl: 24px;
