@use "variables";

.circle-lg {
  background: variables.$primary-color;
  clip-path: circle(50%);
  height: 40em;
  width: 40em;
  position: absolute;
  right: -80px;
  top: -60px;
  z-index: 10;
}

.circle-md {
  background: variables.$primary-color;
  clip-path: circle(50%);
  height: 20em;
  width: 20em;
  position: absolute;
  left: -50px;
  top: -60px;
  z-index: 10;
}

input {
  z-index: 11;
}

.content {
  background-color: variables.$background-color;
  width: 100%;
  height: 100%;
  z-index: 11;
  position: absolute;
}

.headerBar {
  background-color: variables.$background-color;
  border-bottom: 4px solid variables.$primary-color;
  padding: variables.$m-md;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  .backIcon {
    color: variables.$background-color;
    cursor: pointer;
    font-size: 25px;
    z-index: 11;
  }

  .cartHeaderContainer {
    z-index: 11;
    position: relative;

    .cartIcon {
      font-size: 25px;
      color: variables.$background-color;
      cursor: pointer;
    }

    .cartBadge {
      border-radius: 50px;
      width: 15px;
      height: 15px;
      background-color: variables.$background-color;
      color: variables.$text-light;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 0;
      right: -8px;
    }
  }
}
