@use "variables";

.cartContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;

  .cartGroupContainerHeader {
    background: rgb(38, 70, 83);
    background: linear-gradient(
      292deg,
      rgba(38, 70, 83, 1) 0%,
      rgba(38, 83, 73, 1) 67%,
      rgba(42, 157, 143, 1) 100%
    );
    opacity: 0.8;
    font-size: variables.$text-lg;
    padding-left: variables.$m-lg;
    color: variables.$text-light;
    z-index: 13;
  }

  .cartItemContainer {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media screen and (max-width: variables.$small) {
      flex-direction: column;
      width: 100%;
      align-items: center;
      padding: 0;
    }

    .eventCardWrapper {
      width: 20%;
      margin-left: variables.$m-md;
      margin-right: variables.$m-md;

      @media screen and (max-width: variables.$large) {
        width: 40%;
        margin-left: variables.$m-md;
        margin-right: variables.$m-md;
      }

      @media screen and (max-width: variables.$small) {
        width: 80%;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}
.noData {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .noDataContainer {
    position: relative;
    width: 50%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

    .circle-lg {
      background: variables.$primary-color;
      clip-path: circle(50%);
      height: 40em;
      width: 40em;
      position: absolute;
      left: 15%;
      top: 10%;

      @media screen and (max-width: variables.$small) {
        top: 15%;
        left: 20%;
        height: 60em;
        width: 60em;
      }
    }

    .circle-md {
      background: variables.$primary-color;
      clip-path: circle(50%);
      height: 30em;
      width: 30em;
      position: absolute;
      left: 50%;
      top: 10%;

      @media screen and (max-width: variables.$small) {
        display: none;
      }
    }

    .noDataTextWrapper {
      width: 400px;
      z-index: 10;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      .noDataIcon {
        color: variables.$text-light;
        font-size: 100px;
      }

      .noDataText {
        color: variables.$text-light;
        font-size: variables.$text-xl;

        @media screen and (max-width: variables.$small) {
          text-align: center;
        }
      }
    }
  }
}
