@use "variables";

.eventCard {
  width: 100%;
  margin-top: variables.$m-lg;
  margin-bottom: variables.$m-lg;
  background-color: variables.$background-color;
  border-radius: variables.$m-sm;
  height: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 12;

  img {
    object-fit: cover;
    object-position: center;
    border-radius: variables.$m-sm;
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .titleContainer {
    padding-left: variables.$m-sm;
    padding-right: variables.$m-sm;
    padding-top: variables.$m-md;
    padding-bottom: variables.$m-md;
    border-top-left-radius: variables.$m-sm;
    border-top-right-radius: variables.$m-sm;
    background: rgba(255, 255, 255, 0.24);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
    -webkit-transition: background 0.5s ease-out;
    -moz-transition: background 0.5s ease-out;
    -o-transition: background 0.5s ease-out;
    transition: background 0.5s ease-out;

    &:hover {
      background: rgba(255, 255, 255, 0.5);
    }

    .title {
      font-size: variables.$text-md;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
      color: variables.$text-dark;
      font-weight: bold;
      -webkit-transition: white-space 0.5s ease-out;
      -moz-transition: white-space 0.5s ease-out;
      -o-transition: white-space 0.5s ease-out;
      transition: white-space 0.5s ease-out;

      &:hover {
        white-space: inherit;
      }
    }
  }
  .infoContainer {
    display: flex;
    justify-content: space-between;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.24);
    border-bottom-left-radius: variables.$m-sm;
    border-bottom-right-radius: variables.$m-sm;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);

    padding: variables.$m-sm;
    color: variables.$text-dark;
    -webkit-transition: background 0.5s ease-out;
    -moz-transition: background 0.5s ease-out;
    -o-transition: background 0.5s ease-out;
    transition: background 0.5s ease-out;

    &:hover {
      background: rgba(255, 255, 255, 0.5);
    }

    .locationLink {
      cursor: pointer;
      color: variables.$text-dark;
      text-decoration: none;
      display: flex;
      align-items: center;
    }

    .location {
      font-weight: bold;
      padding-left: variables.$m-xs;
    }

    .timeIcon {
      padding-right: variables.$m-xs;
    }

    .time {
      display: flex;
      align-items: center;
    }

    .plusIconContainer {
      display: flex;
      align-items: flex-end;

      .plusIcon {
        font-size: 20px;
        cursor: pointer;
      }
    }

    p {
      margin-top: variables.$m-xs;
      margin-bottom: variables.$m-xs;
    }
  }
}
